<!-- ---------------------------------- -->
<!-- Start Vertical Layout Sidebar -->
<!-- ---------------------------------- -->
<div class="p-4" >
  {% include 'partials/logo-sidebar.html' %}
</div>
<div class="scroll-sidebar" data-simplebar="">
    <nav class=" w-full flex flex-col sidebar-nav px-4 mt-5">
      <ul  id="sidebarnav" class="text-gray-600 text-sm">
        <li class="text-xs font-bold pb-[5px]">
          <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center"></i>
          <span class="text-xs text-gray-400 font-semibold">HOME</span>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base  flex items-center relative  rounded-md text-gray-500  w-full" href="{{ url_for('showDashboard') }}"
           >
            <i class="ti ti-layout-dashboard ps-2  text-2xl"></i> <span>Dashboard</span>
          </a>
        </li>

        <li class="text-xs font-bold mb-4 mt-6">
          <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center"></i>
          <span class="text-xs text-gray-400 font-semibold">DATA PREPROCESSING</span>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full" href="{{ url_for('databaseConnection') }}"
           >
            <!--<i class="ti ti-article ps-2 text-2xl"></i>-->
              <i class="ti ti-chart-pie ps-2 text-2xl"></i><span>DeDuplication</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full" href="{{ url_for('exportData') }}"
           >
            <i class="ti ti-download ps-2 text-2xl"></i> <span>Export</span>
          </a>
        </li>        

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full" href="{{ url_for('uploadedFile') }}"
           >
            <i class="ti ti-credit-card ps-2 text-2xl"></i> <span>Uploaded Files</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full" href="{{ url_for('truncate_database') }}"
           >
            <i class="ti ti-trash-x ps-2 text-2xl"></i> <span>Truncate DB</span>
          </a>
        </li>

        <li class="text-xs font-bold mb-4 mt-8">
          <i class="ti ti-dots nav-small-cap-icon  text-lg hidden text-center"></i>
          <span class="text-xs text-gray-400 font-semibold">ANALYSIS</span>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full" href="{{ url_for('data_analysis') }}"
           >
            <i class="ti ti-chart-bar ps-2 text-2xl"></i> <span>Data Analysis</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full" href="{{ url_for('report_handling') }}"
           >
            <i class="ti ti-report ps-2 text-2xl"></i> <span>Report</span>
          </a>
        </li>  

        <li class="text-xs font-bold mb-4 mt-8">
          <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center"></i>
          <span class="text-xs text-gray-400 font-semibold">AUTHORIZATION</span>
        </li>

       <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full" href="{{ url_for('registration') }}"
           >
            <i class="ti ti-user-plus ps-2 text-2xl"></i> <span>Registration</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full" href="{{ url_for('logout') }}"
           >
            <i class="ti ti-login ps-2 text-2xl"></i> <span>Logout</span>
          </a>
        </li>


      </ul>
    </nav>
</div>

<!-- Bottom Upgrade Option -->
<!--<div class="m-4  relative grid">
  <button class="text-base font-semibold hover:bg-blue-700 btn">Upgrade to Pro</button>
</div>-->
<!-- </aside> -->